## dictinary is mutable in nature
- it always come on key and values
- the key and values are are sepreted by colon(:)
- all the items are present in dictinory it sepreated by comma(,)
- it is represented by {} breacket

In [3]:
# taking a Empty dict
d = {}
type(d)

dict

In [4]:
d = {,"name": "sai","roll no": 105455,
     " age": 31, "address": "Atp",
     "university": "Jntua"}

{'name': 'sai',
 'roll no': 105455,
 ' age': 31,
 'address': 'Atp',
 'university': 'Jntua'}

In [5]:
len(d)

5

In [ ]:
# Today tasks

# Input : 19535
# Output : 9 (Large digit of the given number)

In [ ]:
# Read a number as input and print the output as Factors of the given number

# Input : 6
# Output : 1 2 3 6
# Input : 12
# Output : 1 2 3 4 6 12

In [ ]:
# Read the input as Number and print the output as True or False. 
# If the input number is Prime True otherwise print False

# Input : 11
# Output : True
# Input : 10
# Output : False

In [ ]:
# Read the  i/p as number, 
# Print the o/p as Count of triangles and Circles in the given num

# Input : 12854
# Output : 3
# Input : 888
# Output : 6

# Reason : 0,6,9 wil have one circle so count wil be 1
# 4 wil have one triangle so count wil be 1
# 8 wil have 2 circles so count wil be 2

In [2]:
# Set is a unordered and unindexed and it is represented by {}
# The set is unordered so to print the set in order we need to write in for loop
s = {"rose","jasmine","sunflower"}
print(s)
print(type(s))

{'rose', 'jasmine', 'sunflower'}
<class 'set'>

In [33]:
# Empty set{} represents the dict
s3 = {}
print(type(s3))

<class 'dict'>

In [31]:
for i in s:
    print(i)

rose
whiterose
sunflower

In [32]:
# In set no duplicates is allowed and we can use different types of data types
s1 = {1,2,3,4}
print(s1)
s2 = {'hii',1,2,3.0,'k'}
print(s2)

{1, 2, 3, 4}
{'k', 1, 2, 3.0, 'hii'}

In [3]:
# In set we can perform mathematical operations like union,intersection,difference.
# we can remove,add the elements and we can also update the elements
s.add('tulips', 'white rose') # add() takes only one argument
print(s)

TypeError: add() takes exactly one argument (2 given)

In [4]:
s.add("tulips")
print(s)

{'tulips', 'rose', 'jasmine', 'sunflower'}

In [5]:
# Inorder to add multiple elements into the set we need to use update()
s.update(["tulips","whiterose","shoflower"])
print(s)

{'jasmine', 'rose', 'tulips', 'whiterose', 'sunflower', 'shoflower'}

In [6]:
A = {1,3,2,4,5,6,7}
B = {1,9,8,0,6,5}
print(A)
print(B)

{1, 2, 3, 4, 5, 6, 7}
{0, 1, 5, 6, 8, 9}

In [7]:
print(A|B)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
print(A & B)

{1, 5, 6}

In [9]:
print(A.union(B))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [10]:
print(A.intersection(B))

{1, 5, 6}

In [11]:
print(A.difference(B))

{2, 3, 4, 7}

In [13]:
print(A.symmetric_difference(B))

{0, 2, 3, 4, 7, 8, 9}

In [14]:
print(min(A))

1

In [15]:
print(min(B))

0

In [16]:
print(max(A))

7

In [17]:
print(sum(B))

29

In [18]:
# Inorder to remove items in a set we use remove() and discard()
print(s)
s.remove('tulips')
print(s)

{'jasmine', 'rose', 'tulips', 'whiterose', 'sunflower', 'shoflower'}
{'jasmine', 'rose', 'whiterose', 'sunflower', 'shoflower'}

In [19]:
s.discard('shoflower')

In [20]:
print(s)

{'jasmine', 'rose', 'whiterose', 'sunflower'}

In [21]:
s.remove('shoflower')

KeyError: 'shoflower'

In [23]:
s.discard('tulips')

In [24]:
print(s)

{'jasmine', 'rose', 'whiterose', 'sunflower'}

In [25]:
s.pop() # It removes the last element 
print(s)

{'rose', 'whiterose', 'sunflower'}

In [27]:
A.clear()# It empties the set
print(A)

set()

In [28]:
del B # It deltes completely

In [29]:
print(B)

NameError: name 'B' is not defined

In [34]:
# Type conversions
s = [1,2,3,5,4,6,7]
print(s)
t = tuple(s)
print(t)

[1, 2, 3, 5, 4, 6, 7]
(1, 2, 3, 5, 4, 6, 7)

In [35]:
print(s)
set = set(s)
print(set)

[1, 2, 3, 5, 4, 6, 7]
{1, 2, 3, 4, 5, 6, 7}

In [36]:
li = list(set)
print(li)

[1, 2, 3, 4, 5, 6, 7]

In [40]:
i = '1233456'
i1 = int(i)
print(i1)
print(type(i1))
print(type(i))

1233456
<class 'int'>
<class 'str'>

In [42]:
i2 = float(i)
print(type(i2))
print(type(i))
print(i2)

<class 'float'>
<class 'str'>
1233456.0

In [44]:
i3 = '4'
print(type(i3))
chr = ord(i3)
print(chr)
print(type(chr))

<class 'str'>
52
<class 'int'>

In [46]:
ord('4')

52

In [2]:
s = 'python'
print(type(s))
s1 = tuple(s)
print(type(s1))
print(s1)

<class 'str'>
<class 'tuple'>
('p', 'y', 't', 'h', 'o', 'n')

In [3]:
print(type(s1))
s2 = set(s1)
print(type(s2))
print(s2)

<class 'tuple'>
<class 'set'>
{'o', 'p', 'h', 't', 'y', 'n'}