In [1]:
if
    if
    else
else
    if 
    else

SyntaxError: invalid syntax (<ipython-input-1-6648fe0c8a9a>, line 1)

In [ ]:
<pre>if cond1:
        st
    elif cond2:
        st

#### Grading System
    - 90 - 100 --> Ex
    - 85 - 90 --> A
    - 75 - 85 --> B
    - 65 - 75 --> C
    - 55 - 65 --> D
    - < 55 - F
- Note: For all the cases upper bound is inclusive and lower bound is exclusive

In [3]:
n = int(input())
if n > 90 and n < 100 :
    print('Ex')
elif n > 85 and n < 90 :
    print('A')
elif n > 75 and n < 85 :
    print('B')
elif n > 65 and n < 75 :
    print('C')
elif n > 55 and n < 65 :
    print('D')
else :
    print('F')

54
F

In [4]:
n = int(input())
if n > 90 and n < 100 :
    print('Ex')
else: 
    if n > 85 and n < 90 :
        print('A')
    else: 
        if n > 75 and n < 85 :
            print('B')
        else: 
            if n > 65 and n < 75 :
                print('C')
            else: 
                if n > 55 and n < 65 :
                    print('D')
                else :
                    print('F')

54
F

In [5]:
n = int(input())
if n < 25 :
    print('Hi')
if n < 50 :
    print('Hai')

5
Hi
Hai

#### String Functions:

In [6]:
s = 'python'
s[0] = 'l'

TypeError: 'str' object does not support item assignment

In [7]:
s + 'programming'
print(s)

python

In [10]:
s.capitalize()

'Python'

In [12]:
s.isalpha()

True

In [13]:
help(s.center)

Help on built-in function center:

center(width, fillchar=' ', /) method of builtins.str instance
    Return a centered string of length width.

    Padding is done using the specified fill character (default is a space).

In [20]:
s.center(10,'k')

'kkpythonkk'

In [21]:
s.center(1,'h')

'python'

In [22]:
s.count('p')

1

In [23]:
help(s.encode)

Help on built-in function encode:

encode(encoding='utf-8', errors='strict') method of builtins.str instance
    Encode the string using the codec registered for encoding.

    encoding
      The encoding in which to encode the string.
    errors
      The error handling scheme to use for encoding errors.
      The default is 'strict' meaning that encoding errors raise a
      UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
      'xmlcharrefreplace' as well as any other name registered with
      codecs.register_error that can handle UnicodeEncodeErrors.

In [24]:
ss = s.encode()
print(ss)

b'python'

In [28]:
ss.decode('utf-8')

'python'

In [30]:
s = 'this class, is like a hell'
print(s.split())
print(s.split(','))
print('this'.split())

['this', 'class,', 'is', 'like', 'a', 'hell']
['this class', ' is like a hell']
['this']

In [31]:
k = ['h','o','n','e','y']
''.join(k)

'honey'

In [32]:
k = ['getting','bored','wat','to','do']
' '.join(k)

'getting bored wat to do'

In [33]:
' '.join(['3','7','1'])

'3 7 1'

In [34]:
' '.join(('3','7','1'))

'3 7 1'

In [37]:
s = 'Machine'
','.join(s)

'M,a,c,h,i,n,e'

In [38]:
name = '      This is kiranmai kancharla  '
name.strip()

'This is kiranmai kancharla'

In [39]:
help(str.strip)

Help on method_descriptor:

strip(self, chars=None, /)
    Return a copy of the string with leading and trailing whitespace remove.

    If chars is given and not None, remove characters in chars instead.

In [63]:
name = 'kkkkkkfffffffffkhai hello guys '
print(name.strip('kf'))

hai hello guys

In [69]:
name = '       hiiiii frds    '
print(name.lstrip())

hiiiii frds

In [70]:
name = 'hiiiii frds   '
print(name.rstrip('k'))

hiiiii frds

In [71]:
n1 = 'hello hai frds'
n1.split()

['hello', 'hai', 'frds']

#### Loops
    - for 
    - while

<pre>for var in iterator:
    - statements using var or without using var</pre>
- The loop will run n number of times, n is no of elements in the iterator

- Iterable value 
    - 'python' - 'p','y','t'
    - [1,2,3] - 1,2,3
    - (1,2,3) - 1,2,3
    - {'one' : 1, 'two' : 2} - 'one', 'two'

In [73]:
for i in [1,2,3]:
    print(i,end=' ')

1 2 3

In [74]:
for ele in (1,2,3):
    print(ele,end=' ')

1 2 3

In [78]:
s = 'python'
for i in s:
    print(i,end=' ')

p y t h o n

In [79]:
d = {'one' : 1, 'two' : 2}
for i in d:
    print(d[i])

1
2

In [80]:
print(list(range(5)))
print(list(range(0)))
print(list(range(0,5)))
print(list(range(0,5,2)))
print(list(range(5,5)))

[0, 1, 2, 3, 4]
[]
[0, 1, 2, 3, 4]
[0, 2, 4]
[]

In [82]:
n = 10 
for i in range(2,n//2):
    print(i)

2
3
4

In [83]:
print(list(range(3,40,2)))

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [85]:
print(list(range(30,2,-2)))

[30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4]

In [87]:
s = 'python'
for ch in range(len(s)-3,len(s)):
    print(ch,s[ch],sep=',',end=' ')

3,h 4,o 5,n

In [109]:
n = int(input('Enter a num:'))
for i in range(1,10+1):
    print(n ,'*',i, '=', n*i)

Enter a num:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [117]:
# i/p ['python','c','perl','java']
# o/p [6,1,4,4]

s = ['python','c','perl','java']
l = []
for i in s:
    x = len(i)
    l.append(x)
print(l)

[6, 1, 4, 4]

In [124]:
# i/p "Indian Institute of Technology"
# o/p I.I.T

s = "Indian Institute of Technology"
l = []
for i in s:
    if i.isupper():
        print(i,end='.')

I.I.T.