In [65]:
# List [], Set {}, Dictionary {}, tuple (),

In [66]:
set1= {'a',1,2,3,4,'b','c'}
set1

{1, 2, 3, 4, 'a', 'b', 'c'}

In [67]:
# set is a unordered and unindexed, and it is a unique

In [68]:
#to print the order which we have given we use for loop#
set2 = {1,4,5,6,'a','g'}
for i in set2 :
    print(i)

1
4
5
6
a
g

In [69]:
set3= {1,2,1,4,5,3,3,4,'a','g','a'}
set3

{1, 2, 3, 4, 5, 'a', 'g'}

In [70]:
set4 = {}
type(set4)
#here an empty set is considered as dictionary,and to see which type we use this type(var name)#

dict

In [71]:
set4 = {1}
type(set4)
#set is to be specified by atleast one value, we can have an empty tuple, list, dictionary

set

In [72]:
#dict1 = {key:value,key:value,key:[value1,value2]} the syntax of dictionary
dict1 = {'name':'kiran','class':'python','name':'rajee'}
dict1
#dictionary keys is to be unique if we give duplicate values it is overided by the last key value 
#we can have duplicate values, in list and tuple also we can have duplicate values

{'name': 'rajee', 'class': 'python'}

In [73]:
dict1.keys()

dict_keys(['name', 'class'])

In [74]:
dict1.values()

dict_values(['rajee', 'python'])

In [75]:
l1 = [1,2,3,'a','b','c']
l1

[1, 2, 3, 'a', 'b', 'c']

In [76]:
l1[0:6]

[1, 2, 3, 'a', 'b', 'c']

In [77]:
l1[0:3]

[1, 2, 3]

In [78]:
l1[0::3]

[1, 'a']

In [79]:
l1[2:]

[3, 'a', 'b', 'c']

In [80]:
l1[:2]

[1, 2]

In [81]:
l1[:6]

[1, 2, 3, 'a', 'b', 'c']

In [82]:
l1[:3]

[1, 2, 3]

In [83]:
l1[:1]

[1]

In [84]:
l1[:4]

[1, 2, 3, 'a']

In [85]:
l1[:0]

[]

In [86]:
l1[:5]

[1, 2, 3, 'a', 'b']

In [87]:
l1[0::2]

[1, 3, 'b']

In [88]:
l1[::3]

[1, 'a']

In [89]:
l2=['a','b','c','d','e','f','g']

In [90]:
l2[::4]

['a', 'e']

In [91]:
l2[:4]

['a', 'b', 'c', 'd']

In [92]:
l2[::2]

['a', 'c', 'e', 'g']

In [93]:
l2[3::1]

['d', 'e', 'f', 'g']

In [94]:
l2[2::2]

['c', 'e', 'g']

In [95]:
l2[-1]

'g'

In [96]:
l2[-1::2]

['g']

In [97]:
l2[-1::4]

['g']

In [98]:
l2[-5::2]

['c', 'e', 'g']

In [99]:
dict1

{'name': 'rajee', 'class': 'python'}

In [100]:
x=dict1.copy()
x

{'name': 'rajee', 'class': 'python'}

In [101]:
x.clear()
x

{}

In [102]:
type(x)

dict

In [103]:
dict1.fromkeys(dict1,dict1)

{'name': {'name': 'rajee', 'class': 'python'},
 'class': {'name': 'rajee', 'class': 'python'}}

In [104]:
dict1.fromkeys(x)

{}

In [105]:
dict1.fromkeys(dict1)

{'name': None, 'class': None}

In [106]:
x=dict1.get('name')
x

'rajee'

In [107]:
x=dict1.get('teacher','mouni')
x

'mouni'

In [108]:
x=dict1.items()
x

dict_items([('name', 'rajee'), ('class', 'python')])

In [109]:
x=dict1.items()
dict1['yop']=2018
x

dict_items([('name', 'rajee'), ('class', 'python'), ('yop', 2018)])

In [110]:
x=dict1.pop("name")
print(x)

rajee

In [112]:
dict1.pop('name')
print(dict1)

KeyError: 'name'

In [113]:
print(x)

rajee

In [114]:
dict1=({'name': 'kiran', 'class': 'python'})
print(dict1)

{'name': 'kiran', 'class': 'python'}

In [115]:
dict1

{'name': 'kiran', 'class': 'python'}

In [116]:
dict1.update({'yop': 2018})
dict1

{'name': 'kiran', 'class': 'python', 'yop': 2018}

## a=123456 print only even numbers

In [117]:
a='123456'
for i in a :
    if int(i)%2==0 :
        print(i,end=" ")

2 4 6

In [118]:
i=1
while i<=6 :
    if i%2==0 :
        print(i,end=" ")
    i+=1

2 4 6

# Print  all the even numbers in the given range

In [125]:
start=int(input('enter the  starting range:'))
end=int(input('enter the end range:'))
for i in range(start,end+1) :
    if i%2==0 :
        print(i)

enter the  starting range:0
enter the end range:10
0
2
4
6
8
10

# Print all the odd numbers in the given range

In [126]:
x=int(input('enter the starting range:'))
y=int(input('enter the end range:'))
for i in range(x,y+1) :
    if i%2!=0 :
        print(i)

enter the starting range:0
enter the end range:10
1
3
5
7
9

# Print the sum of even numbers in the given range

In [127]:
x=int(input('enter the starting range:'))
y=int(input('enter the end range:'))
sum=0
for i in range(x,y+1) :
    if i%2==0 :
        sum=sum+i
        print('even no is:',i)
print('sum of even nums',sum)

enter the starting range:0
enter the end range:20
even no is: 0
even no is: 2
even no is: 4
even no is: 6
even no is: 8
even no is: 10
even no is: 12
even no is: 14
even no is: 16
even no is: 18
even no is: 20
sum of even nums 110

# Print the digits of the given number

In [128]:
x=int(input('enter the number:'))
count=0
while x>0 :
    count=count+1
    x=x//10
print(count)

enter the number:345
3

# Multiplicative table for the given number

In [129]:

num=int(input('enter the multiplicative table num:'))
for i in range(1,10+1) :
    print(num,'*',i,'=',num*i)

enter the multiplicative table num:1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

 ## In the given range:
  ####   If number is only divisible by 3 print fizz
  ####    If number is divisible by 5 print buzz
  ####    If number is divisible by 3 and 5 print fizzbuzz

In [130]:
for i in range(1,20+1) :
    if i%3==0 and i%5==0 :
        print('fizzbuzz')
    elif i%5==0 :
        print('buzz')
    elif i%3==0 : 
        print('fizz')

fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz